.question {
  margin-top: 0.31rem;
  text-align: left;
  border-radius: 10px;
  background-color: #f5f5f5;
  margin-bottom: 10px;

  .icon {
    color: rgb(80, 80, 80);
    font-size: 1.5rem;
    margin-right: 0.625rem;
  }

  h1 {
    font-size: 2rem;
  }

  .flex {
    display: flex;
  }

  .auto-margin {
    margin: auto;
  }

  .why {
    max-width: 50rem;
    margin-top: 3.125rem;
    padding: 1.875rem;
  }

  .text-left {
    text-align: left;
  }

  .advantage {
    padding-top: 3.125rem;
  }

  .advantage-row {
    display: flex;
    border-bottom: 1px solid #fff;
    padding: 10px;
  }

  .advantage p {
    font-size: 1.125rem;
  }

  .question-title {
    margin-bottom: 0px;
    margin-top: 5px;
  }

  .card {
    background-color: #e8e8e8;
    border-radius: 0px 0px 10px 10px;
    border: none !important;
  }
}
