.question {
    margin-top: 5px;
    text-align: left;

    .icon {
        color: rgb(80, 80, 80);
        font-size: 24px;
    }

    h1 {
        font-size: 2rem;
    }
    
    .flex {
        display: flex;
    }
    
    .auto-margin {
        margin: auto;
    }
    
    .why {
        max-width: 700px;
        margin-top: 50px;
        padding: 30px;
    }
    
    .text-left {
        text-align: left;
    }
    
    .advantage {
        padding-top: 50px;
    }
    
    .advantage-row {
        display: flex;
        justify-content: space-between  ;
    }
    
    .advantage p {
        font-size: 18px;
    }   
}
