.home {

    h1 {
        font-size: 2rem;
    }
    
    .flex {
        display: flex;
    }
    
    .auto-margin {
        margin: auto;
    }
    
    .why {
        max-width: 700px;
        margin-top: 50px;
        padding: 30px;
    }
    
    .text-left {
        text-align: left;
    }  

    .home-image {
        width: 300px;
        height: 300pxs;
    }

    @media screen and (min-width: 768px) {
        .home-image {
          margin-top: 60px;
          width: 350px;
          height: 350px;
        }
      }
}
