.home {
    .icon {
        color: rgb(100, 237, 26);
        font-size: 24px;
    }
    
    .flex {
        display: flex;
    }
    
    .auto-margin {
        margin: auto;
    }
    
    .why {
        max-width: 700px;
        margin-top: 50px;
        padding: 30px;
    }
    
    .text-left {
        text-align: left;
    }
    
    .advantage {
        padding-top: 50px;
    }
    
    .advantage-row {
        display: flex;
        justify-content: space-between  ;
    }
    
    .advantage p {
        font-size: 18px;
    }   
}
