.advantage {
    text-align: left;

    .icon {
        color: rgb(100, 237, 26);
        font-size: 1.25rem;
    }
    .card {
        background-color: rgb(240, 240, 240);
        border-radius: 0.625rem;
        width: 100%;
        border: none;
        padding: 0.94rem;
        padding-bottom: 0.3rem;
        margin-top: .875rem;
    }

    .header {
        display: flex;
        justify-content: space-between;
    }

    .detail {
        font-size: 0.85rem;
        margin-bottom: 0;
    }
}
